# Extension
*.obj
*.pch
*.exp
*.idb
*.htm
*.ilk
*.ncb
*.user
*.suo
*.aps
*.tds
*.log
*.tlog
*.ncb
*.opt
*.pld
*.plg
*.txt
*.asic
*.old
*.bcc32pch
*.positions
*.info
*.dbf
*.exe
*.dll
*.pdb
*.o
*.so
*.a
#
#
#
# FileName
cp_test
dbuse
editconf
makehash
reqwhite
update
accnotifyd
fanotifyd
nannysvc
pwevt_mon
#
#
#
# Directory
intermediate
.svn
inven
plug-in
testsrc
